html,
body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
  }

header{
    width: 100%;
    height: 20vh;
    background-color: rgb(89, 214, 255);
}

nav{
    width: 30%;
    height: 60px;
    background-color: purple;
    margin: 0 auto;
}

section{
    width: 100%;
    height: 100px;
    background-color: rgb(42, 238, 124);
    flex: 1 0 auto;
}
main {
    padding-bottom: 100px;
  }

footer{
        flex: 0 0 auto;
        padding: 2rem;
    background-color:rgb(163, 118, 207); 
}
